div[id^='Q_instascan_'] .Q_button,
div[id^='Q_instascan_'] span.Q_button,
div[id^='Q_instascan_'] button {
    display: inline-block;
    text-decoration: none !important;
    padding: 0 10px;
    font-size: 1em;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    border: solid 1px rgba(255, 255, 255, 0.4);
}
.Q_scanning div[id^='Q_instascan_'] button {
    line-height: unset;
}
div[id^='Q_instascan_'] select {
    border-radius: 5px;
    font-size: 23px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    background-color: #d1d1d1;
}
div[id$='__dashboard_section_csr'] {
    margin-bottom: 20px;
}
#html5-qrcode-select-camera {
    display: block;
    margin: 0 auto;
}
div[id^='Q_instascan_'] select option {
    font-size: 31px;
}
div[id^='Q_instascan_'][id$='__scan_region'] img {
    width: 30%;
}
div[id^='Q_instascan_'][id$='__dashboard_section_csr'] {
    font-size: 1em;
    color: #000;
}
div[id^='Q_instascan_'][id$='__dashboard_section_csr'] > span {
    display: block;
    margin: 20px auto;
}
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
#html5-qrcode-button-camera-start {
    background-color: green;
}
#html5-qrcode-button-camera-stop {
    background-color: red;
}
@media (prefers-color-scheme: dark) {
    div[id^='Q_instascan_'][id$='__dashboard_section_csr'] {
        color: #fff;
    }
    div[id^='Q_instascan_'] select option {
        color: #000;
    }
    div[id^='Q_instascan_'][id$='__header_message'] {
        background: rgba(255, 255, 255, 0.5) !important;
    }
    div[id^='Q_instascan_'] select {
        background-color: #3e3e3e;
    }
}